<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>630495555539-6tgsffituhu9r9l34q95ad7b7oknicas.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.630495555539-6tgsffituhu9r9l34q95ad7b7oknicas</string>
	<key>API_KEY</key>
	<string>AIzaSyCD-4avtDhdlySs-ZUUHkcLgeYw0b0vtqw</string>
	<key>GCM_SENDER_ID</key>
	<string>630495555539</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.antonmarchuk.firebasetut1</string>
	<key>PROJECT_ID</key>
	<string>fir-fluttertut</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-fluttertut.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:630495555539:ios:3d729c594e5d6f9bae8926</string>
</dict>
</plist>